.ui-icon.ui-igtreegrid-expansion-indicator.ui-icon-minus {
            background: url(http://dev.igniteui.local/15-2/images/samples/tree-grid/opened_folder.png) !important;
            background-repeat: no-repeat;
        }
        .ui-icon.ui-igtreegrid-expansion-indicator.ui-icon-plus {
            background: url(http://dev.igniteui.local/15-2/images/samples/tree-grid/folder.png) !important;
            background-repeat: no-repeat;
        }